body {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.87);
}

.img{
    height: 50px;
    width: 60px;
};

.block{
    background-color: aquamarine;
display: block
};

.none{
   
    display: none
}
.box{
    border: 1px solid #383838;
    background-color: #F2AA7E;
    color: white;
}

.img-user{
    /* border-radius: 50%; */
    width:100%;
    height:100%;
    /* border: 1px solid rgb(226, 114, 34);; */
     
}