.btn-homepage{
    background-color: rgb(216, 106, 101);
    border: none;
    color: white;
     
}

/* .btn-homepage :hover{
    
    border: none
} */

.desciption{
    font-size: 16px;
}

p{
    margin: 0em;
}
.card{
    border-radius: 15px;
}